@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 30px;
    font-size: 28px;
    color: rgba(237, 222, 247, 0.915);
}
a:hover{
    color: rgba(175, 125, 225, 0.999);
}
#navbar{
    background-color: black;
    padding: 14px;
}
#introsection{
    height: 400px;;
    background: black url("bg.jpg") no-repeat center;
    background-size: 1100px;
    display:flex;
    flex-direction: column;
    font-size: 28px;
    align-items:center;
    justify-content:end;
    color: rgb(237, 222, 247);
    padding: 12px;
}
#introsection div{
    background-color:rgba(75, 59, 85, 0.541) ;
    text-align: center;
    
}
#missionsection{
    height:300px;
    background-color: rgba(167, 159, 159, 0.92);
    text-align: center;
    padding:12px;
}
.card{
    display: inline-block;
    border:2px solid black;
    border-radius: 10px;
    margin: 25px;
    width: 25%;
    height:245px;
    background-color: rgba(186, 174, 174, 0.92);
    color: rgb(69, 39, 94);
}
h3{
    font-size: 25px;
    margin-top: 6px;
}
h2{
    font-size: 29px;
}
h1{
font-size: 39px;
}

#sponsersection{
    height: 300px;
    background-color: rgba(167, 159, 159, 0.92);
    text-align: center;
    padding:12px;
}
#footer{
    height:50px;
    background-color: black;
    color:  rgba(237, 222, 247, 0.915);
    text-align: center;
    padding: 6px;

}